.container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;

    background-color: #f5f5f5;
}

.el-steps--simple {
    background-color: #fff;
}

.steps {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
}

.steps .el-input__inner {
    width: 40%
}

.next-btn {
    text-align: center;
}

.detail-title {
    font-size: 18px;
    padding-bottom:20px ;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 20px;
}

.detail-title  span {
    margin: 0 10px;
    font-weight: bold;
}
.detail-title  span small {
    font-weight: normal;
}

/* .dialog .el-input {
    width: 80%;
} */

.dialog .title {
    font-weight: bold;
    font-size: 16px;
    margin: 20px 0;
}

.steps .el-select .el-input .el-input__inner {
    width: 100%;
}