<div class="container">
    <!-- 顶部步骤条 -->
    <el-steps :active="active" simple>
        <el-step title="项目名称" icon="el-icon-edit"></el-step>
        <el-step title="价格设置" icon="el-icon-money"></el-step>
    </el-steps>

    <!-- 步骤一 -->
    <div class="steps" v-show="active==0">
        <el-form ref="form" :model="form" label-width="80px">
            <el-form-item label="项目名称">
                <el-select v-model="form.projectName" placeholder="请选择活动区域" :disabled="form.opt">
                    <el-option 
                    v-for="(item,i) in projectColl"
                    :label="item.name"
                    :value="item.project_id"
                    :key="item.project_id">
                    </el-option>
                  </el-select>
            </el-form-item>
            <el-form-item label="场地名称">
                <el-input v-model="form.siteName" placeholder="请输入场地名"></el-input>
            </el-form-item>
        </el-form>
    </div>
    <!-- 步骤二 -->
    <div class="steps" v-show="active==1">
        <div class="detail-title">
            <el-button type="primary" size="small" @click="addPeriodTime">添加时间段</el-button>
            <span><small>项目名称：</small>{{form.projectName}}</span> <span><small>场地名称：</small>{{form.siteName}}</span>
            
        </div>

        <el-table :data="priceData" style="width: 100%">
            <el-table-column prop="periodTime" label="时间段" width="180">
                
            </el-table-column>
            <el-table-column prop="day[0]" label="周一" >
            </el-table-column>
            <el-table-column prop="day[1]" label="周二" >
            </el-table-column>
            <el-table-column prop="day[2]" label="周三" >
            </el-table-column>
            <el-table-column prop="day[3]" label="周四" >
            </el-table-column>
            <el-table-column prop="day[4]" label="周五" >
            </el-table-column>
            <el-table-column prop="day[5]" label="周六" >
            </el-table-column>
            <el-table-column prop="day[6]" label="周日" >
            </el-table-column>
            <el-table-column label="操作" fixed="right" width="150">
                <template slot-scope="scope">
                    <el-button type="primary" size="mini" @click="setPrice(scope.$index, scope.row)">修改</el-button>
                    <el-button type="danger" size="mini" @click="delPeriod(scope.$index)">删除</el-button>
                </template>

            </el-table-column>
        </el-table>
    </div>

    <!-- 下一步 -->
    <div class="next-btn">
        <el-button type="info" style="margin-top: 12px;width: 20%;height: 40px;" @click="back"
            v-show="active>0?true:false">上一步</el-button>
        <el-button type="primary" style="margin-top: 12px;width: 20%;height: 40px;" @click="next">
            {{active==1?"完成":"下一步"}}</el-button>
    </div>

    <!-- 修改价格框 -->
    <el-dialog title="价格修改" :visible.sync="priceFormVisible" class="dialog">
        <el-form :model="priceEditData" label-position="left"  ref="priceEditData" label-width="60px" :rules="setPriceRules">
            <el-form-item label="时间段">
                    <el-time-select
                    placeholder="起始时间"
                    v-model="priceEditData.startTime"
                    :picker-options="{
                      start: '00:00',
                      step: '01:00',
                      end: '23:00',
                      maxTime: priceEditData.endTime
                    }">
                  </el-time-select>
                  <el-time-select
                    placeholder="结束时间"
                    v-model="priceEditData.endTime"
                    :picker-options="{
                      start: '01:00',
                      step: '01:00',
                      end: '24:00',
                      minTime: priceEditData.startTime
                    }">
                  </el-time-select>
            </el-form-item>
            <div class="title">——下面设置每日价格——</div>
            <el-form-item label="周一" prop="day[0]">
                <el-input v-model="priceEditData.day[0]" autocomplete="off" required ></el-input>
            </el-form-item>
            <el-form-item label="周二" prop="day[1]">
                <el-input v-model="priceEditData.day[1]" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="周三" prop="day[2]">
                <el-input v-model="priceEditData.day[2]" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="周四" prop="day[3]">
                <el-input v-model="priceEditData.day[3]" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="周五" prop="day[4]">
                <el-input v-model="priceEditData.day[4]" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="周六" prop="day[5]">
                <el-input v-model="priceEditData.day[5]" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="周日" prop="day[6]">
                <el-input v-model="priceEditData.day[6]" autocomplete="off"></el-input>
            </el-form-item>

        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="priceFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="editPrice('priceEditData')">确 定</el-button>
        </div>
    </el-dialog>

    <!-- 添加时间段弹窗 -->
    <el-dialog title="添加时间段" :visible.sync="addPeriodVisible" class="dialog">
            <el-form :model="addPeriodData" label-position="left" label-width="60px" :rules="setPriceRules" ref="addPeriodData">
                <el-form-item label="时间段">
                        <el-time-select
               
                        placeholder="起始时间"
                        v-model="addPeriodData.startTime"
                        :picker-options="{
                          start: addPeriodData.start,
                          step: '01:00',
                          end: '23:00',
                          maxTime: addPeriodData.endTime
                        }"
                        disabled>
                      </el-time-select>
                      <el-time-select
                      @focus = "addPeriodFocus"
                        placeholder="结束时间"
                        v-model="addPeriodData.endTime"
                        :picker-options="{
                          start: addPeriodData.startTime,
                          step: '01:00',
                          end: '24:00',
                          minTime: addPeriodData.startTime
                        }">
                      </el-time-select>
                </el-form-item>
                <div class="title">——下面设置每日价格——</div>
                <el-form-item label="周一" prop="day[0]">
                    <el-input v-model="addPeriodData.day[0]" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="周二" prop="day[1]">
                    <el-input v-model="addPeriodData.day[1]" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="周三" prop="day[2]">
                    <el-input v-model="addPeriodData.day[2]" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="周四" prop="day[3]">
                    <el-input v-model="addPeriodData.day[3]" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="周五" prop="day[4]">
                    <el-input v-model="addPeriodData.day[4]" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="周六" prop="day[5]">
                    <el-input v-model="addPeriodData.day[5]" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="周日" prop="day[6]">
                    <el-input v-model="addPeriodData.day[6]" autocomplete="off"></el-input>
                </el-form-item>
    
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="addPeriodVisible = false">取 消</el-button>
                <el-button type="primary" @click="addPeriod('addPeriodData')">确 定</el-button>
            </div>
        </el-dialog>
</div>